<h1>Editing Game</h1>
<div class="pd-30 pd-sm-40 bg-gray-200 wd-xl-50p">
  <%= render 'form', game: @game %>
</div>
</br>
<div class="row">
<%= link_to 'Show', @game %> | 
<%= link_to ' Back', games_path %>
</div>
